// Screen sizes
$screen-xs: 375px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors

$primary: #93b3f2;
$text-light: #e8eaed;
$border-light: #606367;
$bg-dark: #000;
