@import "../../styles/variables";
@import "../../styles/mixins";

.sidebar {
  width: 250px;
  height: 100vh;
  background: #000;
  border-right: 1px solid $border-light;

  .sidebarContent {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 30px;
  }

  .linkText {
    color: $text-light;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;

    font-weight: 600;

    &.activeLink {
      background-color: #21262b;
    }

    &:hover {
      background-color: #21262b;
    }
  }
}
